* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-item img {
    height: 75vh;
    object-fit: cover;
}

.carousel-control-prev {
    left: 7%;
}

.carousel-control-next {
    right: 7%;
}

.row {
    margin: 0;
}

.marketing {
    text-align: center;
}

.marketing img {
    object-fit: cover;
}

.text2 {
    font-size: 3rem;
    margin-bottom: 7rem;
    margin-top: 2rem;
}

.float-right {
    float: right;
}

.col-lg-5 {
    text-align: center;
}

.col-lg-7 {
    text-align: center;
}